* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Be Vietnam Pro", sans-serif;
    flex-direction: column;
    height: 100vh;
    background: url(./images/bg-tablet-pattern.svg);
    background-repeat:repeat;
    background-position: right;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 60px;
    padding-left: 50px;
    padding-right: 50px;

    .about {
        display: flex;
        gap: 50px;
        font-weight: 400;
        font-size: 12px;
    }

    #btn1 {
        padding: 5px;
        border-radius: 20px;
        background-color: hsl(12, 88%, 59%);
        border: 0;
        color: hsl(0, 0%, 98%);
    }

    #hamburger{
        display: none;
    }
}

.layer2 {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;


    #left {
        display: flex;
        flex-direction: column;
        width: 350px;
        height: auto;

        #bring {
            font-family: "Be Vietnam Pro", sans-serif;
            font-weight: 700;
            color: hsl(228, 39%, 23%);
            padding-top: 10px;
            margin-top: 20px;
        }

        #manage {
            margin-top: 15px;
            font-family: "Be Vietnam Pro", sans-serif;
            font-weight: 400;
            font-size: 14px;
            color: hsl(227, 12%, 61%);
            margin-bottom: 35px;
        }

        #get {
            width: 100px;
            border-radius: 20px;
            font-family: "Be Vietnam Pro", sans-serif;
            font-weight: 400;
            border: 0;
            background-color: hsl(12, 88%, 59%);
            color: hsl(0, 0%, 98%);
            padding: 5px;
        }
    }

    #right img {
        width: 400px;
        height: auto;
    }
}

.layer3 {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;

    .left1 {
        width: 340px;
        height: auto;

        h2 {
            font-family: "Be Vietnam Pro", sans-serif;
            font-weight: 700;
            color: hsl(228, 39%, 23%);
            margin-bottom: 35px;
        }

        p {
            font-family: "Be Vietnam Pro", sans-serif;
            font-weight: 700;
            font-size: 14px;
            color: hsl(227, 12%, 61%);
        }
    }

    .right1 {
        width: 420px;
        height: auto;

        

        .container {
            display: flex;
            flex-direction: row;
            gap: 10px;

            #num {
                font-size: 12px;
                height: 25px;
                width: 40px;
                padding: 5px;
                align-items: center;
                border-radius: 10px;
                border: none;
                color: hsl(0, 0%, 98%);
                background-color: hsl(12, 88%, 59%);
                font-family: "Be Vietnam Pro", sans-serif;
            }

            #head {
                font-family: "Be Vietnam Pro", sans-serif;
                font-weight: 700;
                font-size: 14px;
                margin-bottom: 15px;
            }

            #txt {
                font-family: "Be Vietnam Pro", sans-serif;
                font-weight: 400;
                line-height: 1.4;
                font-size: 14px;
                color: hsl(227, 12%, 61%);
                margin-bottom: 15px;
            }
        }
    }
}

.layer4 {
    text-align: center;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 35px;
}

.flexbox-container {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;

    .box {
        background-color: hsl(0, 0%, 98%);
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 0;

        #name {
            text-align: center;
            color: hsl(228, 39%, 23%);
            font-family: "Be Vietnam Pro", sans-serif;
            font-weight: 700;
        }

        #text {
            font-family: "Be Vietnam Pro", sans-serif;
            font-weight: 400;
            color: hsl(227, 12%, 61%);
            font-size: 12px;
            margin: 20px;
            text-align: center;
        }

        legend{
            text-align: center;
        }
    }

}


.gS{
    display: flex;
    justify-content: center;
    align-items: center;

    .getStarted {
        font-family: "Be Vietnam Pro", sans-serif;
        font-weight: 700;
        font-size: 12px;
        background-color: hsl(12, 88%, 59%);
        border: 0;
        color: hsl(0, 0%, 98%);
        margin-top: 35px;
        margin-bottom: 35px;
        padding: 8px;
        border-radius: 25px;
    
    }
}

.layer5 {
    display: flex;
    justify-content: space-around;
    padding-left: 50px;
    padding-right: 50px;
    height: 125px;
    background-color: hsl(12, 88%, 59%);
    align-items: center;

    #simplify {
        font-family: "Be Vietnam Pro", sans-serif;
        font-weight: 700;
        font-size: 20px;
        color: hsl(0, 0%, 98%);
    }

    #get{
        font-family: "Be Vietnam Pro", sans-serif;
        font-weight: 400;
        font-size: 10px; 
        background-color: hsl(0, 0%, 98%);
        color: hsl(12, 88%, 59%);
        border: none;
        border-radius: 25px;
        padding: 5px;
    }
}

.layer6{
    display: flex;
    justify-content: space-between;
    background-color: hsl(228, 39%, 23%);
    height: 125px;
    padding: 20px;


    .child1{
        display: flex;
        flex-direction: column;

        #images{
            padding-top: 35px;
        }
    }

    .child2{
        font-size: 12px;
        color: hsl(0, 0%, 98%);
        line-height: 1.8;
    }

    .child3{
        font-size: 12px;
        color: hsl(0, 0%, 98%);
        line-height: 1.8;
    }

    .child4{
        font-size: 12px;

        input{
            border-radius: 25px;
            border: 0;
            padding: 5px;
        }

        #go{
            border-radius: 40%;
            border: 0;
            padding: 5px;
            background-color: hsl(12, 88%, 59%);
            color: hsl(0, 0%, 98%);
        }

        #copyright{
            padding-top: 35px;
            color: hsl(0, 0%, 98%);
            font-size: 8px;
            text-align: right;
        }
    }
}

@media (max-width: 768px ) {
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 20px;

        .about{
            display: none;
        }

        #btn1{
            display: none;
        }

        #hamburger{
            display: flex;
        }


    }

    .layer2{
        display: flex;
        flex-direction: column-reverse;
        padding-left: 20px;
        padding-right: 20px;
        align-items: center;
        justify-content: center;

        #right img{
            width: 350px;
            height: auto;
            /* margin-bottom: 15px; */
        }

        #bring{
            text-align: center;
            margin-top: 0;
            padding-top: 0;
        }

        #manage{
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
        }

        #get{
            align-self: center;
            margin-bottom: 30px;
        }
    }

    .layer3{
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;

        .left1{
            width: 350px;
            p{
                text-align: center;
                padding-left: 10px;
                padding-right: 10px;
                margin-bottom: 20px;
            }
            
            h2{
                text-align: center;
                margin-bottom: 10px;
            }
        }
    }

}

.layer4{
    padding-left: 20px;
    padding-right: 20px;
    color: hsl(228, 39%, 23%);
    font-weight: 700;
    font-size: 30px;
}

.flexbox-container{
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;

    #name{
        color: hsl(228, 39%, 23%);
    }

    #text{
        color: hsl(227, 12%, 61%);
    }
}

.layer5{
    display: flex;
    flex-direction: column;
    height: 250px;

    #simplify{
        text-align: center;
        font-weight: 700;
        font-size: 35px;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    #get{
        margin-top: 0;
    
    }
}

.layer6{
    
}